body {
    background: gray;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.menu_item {
    display: flex;
    height: 30px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

div.menu_item:hover {
    background-color: rgb(0 0 0 / 10%);
    cursor: pointer;
}

.linha_consulta {
    height: 100%;
}

.linha_consulta p {
    width: 250px;
}

.linha_consulta a {
    width: 70px;
}