<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" />
    <title>Pessoas</title>
</head>
<body>
    <div class="center">
        <a href="/">Voltar</a>
    </div>

    <div class="center" style="height: 50px;">
        <form action="{{ caminhoUrl }}" method="POST">
            <input {{ propriedade }} type="text" name="cpf" id="cpf" placeholder="CPF" minlength="14" maxlength="14" required value="{{ cpfPessoa }}" oninput="mascaraCpf(this)">
            <input type="text" name="name" id="name" placeholder="Nome" minlength="3" maxlength="60" required value="{{ nomePessoa }}">
            <button type="submit">{{ tituloBotao }}</button>
        </form>
    </div>

    <div>
        {% for pessoa in content %}
        <div class="center linha_consulta">
            <p class="center">Cpf: {{ pessoa[0] }}</p>
            <p class="center">Nome: {{ pessoa[1] }}</p>
            <p class="center">Comprador: {{ pessoa[2] }}</p>
            <a class="center" href="./?cpfPessoa={{ pessoa[0] }}&nomePessoa={{ pessoa[1] }}">Editar</a>
            <a class="center" href="./delete/?cpfPessoa={{ pessoa[0] }}">Deletar</a>
        </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>